/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

body {
  width: 100%;
  height: 100%;
}

/*VARIABLES*/
:root {
  --main-pink: #E89B99;
  --medium-pink: #f3b8b6;
  --light-pink: #F9F1F0;

  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

/*COMPONENT: Navbar */


/*Header*/
.header {
  height: 65px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
}

/*Logo*/

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  margin: 0 30px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.burger-menu {
  font-size: 2rem;
  cursor: pointer;
}

/* Search bar */

.search-bar {
  display: flex;
  /* background: green; */
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.search-bar > input {
  font-weight: 300;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  width: 263px;
  padding-bottom: 13px;
  padding-right: 5px;
  padding-left: 10px;
  font-size: 14.5px;
  text-align: center;
}

.search-bar > input::placeholder {
  color: rgb(187, 187, 187);
}


.search-bar > i {
  border-bottom: 1px solid #000;
  color: rgb(172, 172, 172);
  font-size: 22px;
  padding: 10px;
  padding-left: 1px;
  cursor: pointer;
}

.search-bar > i:hover {
  color: var(--main-pink);
}

/*Header Icons*/

.header-icons {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.header-icon {
  font-size: 30px;
  padding: 5px 20px;
  cursor: pointer;
}



.header-icon:nth-child(-n + 2) {
  border-right: 1.5px solid rgb(230, 230, 230);
  color: #333;
}


/*Navbar*/

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.tepich-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 300;
  list-style-type: none;
  cursor: pointer;
  padding: 15px 20px;
  margin: 30px;
}


.list-item {
  letter-spacing: 0.1em;
  font-size: 0.9rem;
}

.list-item:not(:last-child):hover {
  color: var(--main-pink);
}

.list-item:last-child {
  color: var(--main-pink);
  border-left: 1px solid rgb(238, 238, 238);
  padding-left: 30px;
  padding-right: 10px;
}

.list-item:last-child:hover {
  color: var(--medium-pink);
}

/*BURGER MENU SETUP*/

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 70px;
  height: 60px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 33.5px;
  height: 33.5px;
  padding: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.3s ease 0.3s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--main-pink);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: var(--light-pink);
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


/*COMPONENT: Banner*/

.banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.banner-image {
  object-fit: cover;
    overflow: hidden;
    max-width: 100%;
}

.banner-btn-icon {
  position: absolute;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  bottom: 30px;
  color: var(--medium-pink);
  font-size: 4rem;
  cursor: pointer;
}

.banner-btn-icon:hover {
  color: var(--main-pink);
}

.banner-btn-icon:active {
  transform: scale(0.9);
}

.scroll-down-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-btn-icon2 {
  position: absolute;
  top: -20px;
  left: 47.5%;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  bottom: 30px;
  color: var(--medium-pink);
  font-size: 4rem;
  cursor: pointer;
}


/*COMPONENT: TextSection*/

.text-section {
  height: 700px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.text-title {
    margin: 0 auto;
    color: #333;
    font-size: 2.5rem;
    font-weight: 500;
}

.text-body {
  margin: 0 auto;
  line-height: 1.7em;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.4rem;
}

.text-announcement {
  font-weight: 500;
  color: rgb(99, 99, 99);
  font-size: 1.7rem;
}

.text-container > h3 {
  margin: 0 auto;
  font-weight: 500;
  font-size: 2rem;
}


/*COMPONENT: ImageGrid*/

.images-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  margin: 0 auto;
}

.grid-wrapper {
  display: grid;
  gap: 1em;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-flow: dense; */
  margin: 3rem auto;
}


.image-container {
  width: 100%;
  height: 100%;
}

.image-container > a {
  display: inline-block; 
    overflow: hidden; 
    border: 1px solid #000;
    background-color: #000;
}



.image-item {
  width: 600px;
  height: 450px;
  opacity: 0.7;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  vertical-align: middle;
}

.image-item:hover {
  opacity: 1;
  -webkit-transform:scale(1.2); 
    -moz-transform:scale(1.2); 
    -ms-transform:scale(1.2); 
    -o-transform:scale(1.2); 
    transform:scale(1.2);
}



.image-container > a {
  position: relative;
  display: inline-block; 
  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 45%;
  left: 52%;
    transform: translate(-50%, 0);
    text-decoration: none;
    font-size: 2rem;
    color: var(--main-pink);
}

