/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*COMPONENT: Navbar */

/*Header*/
.header {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
}

/*Logo*/

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.logo {
  width: 30%;
  height: 30%;
  object-fit: contain;
}


/* Search bar */

.search-bar {
  display: flex;
  /* background: green; */
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.search-bar > input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-top: 10px;
  width: 263px;
  padding-bottom: 13px;
  padding-right: 5px;
  padding-left: 10px;
  font-size: 14.5px;
  text-align: center;
}

.search-bar > input::placeholder {
  color: rgb(187, 187, 187);
}


.search-bar > i {
  border-bottom: 1px solid #000;
  color: rgb(172, 172, 172);
  font-size: 22px;
  padding: 10px;
  padding-left: 1px;
  cursor: pointer;
}

.search-bar > i:hover {
  color: rgb(70, 70, 70);
}

/*Header Icons*/

.header-icons {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.header-icon {
  font-size: 30px;
  padding: 5px 20px;
  cursor: pointer;
}



.nav-icon:nth-child(-n + 2) {
  border-right: 2px solid rgb(230, 230, 230);
  color: #333;
}


/*Navbar*/

.navbar{
  display: flex;
  height: 50px;
  width: 100%;
}

.tepich-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  list-style-type: none;
  cursor: pointer;
  padding: 15px 20px;
}


.list-item {
  letter-spacing: 0.1em;
  font-size: 0.9rem;
}

.list-item:last-child {
  color: rgb(180, 177, 177);
  border-left: 1px solid rgb(238, 238, 238);
  padding-left: 30px;
  padding-right: 10px;
}