/* COMPONENT: Navbar*/

@media all and (min-width: 1000px) {
    .burger-menu{
        display: none;
    }
}


@media all and (min-width: 700px) {
    .mobile-input {
        display: none;
    }
}


@media all and (max-width: 1000px) {
    body {
        width: 100%;
        display: flex;justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .header-icons {
        display: none;
    }

    .navbar {
        display: none;
    }

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo-container {
        width: 70%;
    }

    .search-bar {
        display: none;
    }

    /*Banner*/

    .banner-image {
        width: 100%;
    }

    .banner-btn-icon {
        display: none;
    }

    .banner-btn-icon2 {
        display: none;
    }
}



@media all and (max-width: 900px) {

    /*TextSection*/

    .text-container {
        width: 80%;
    }

    .text-section {
        height: 550px;
    }

    .text-title {
        font-size: 1.5rem;
    }
    
    .text-body {
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .text-announcement {
        font-size: 1.2rem;
    }

    .images-grid {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0 auto;
    }

    .grid-wrapper {
        align-self: center;
        display: grid;
        gap: 0.7em;
        width: auto;
        height: 300px;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        margin: 0 auto;
    }

    .image-container {
        width: 100%;
        height: 100%;
    }

    .image-item {
        width: 450px;
        height: 250px;
    }
}



@media all and (max-width: 700px) {

    /*Banner Image*/

    .banner-container {
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        position: relative;
      }
      
      .banner-image {
        object-fit: cover;
          overflow: hidden;
          max-width: 100%;
      }

    /*TextSection*/
    .text-section {
        height: 350px;
    }

    .text-title {
        margin-top: 5rem;
    }

    .text-container > h3 {
        margin-bottom:2rem ;
    }

    .text-title, .text-container > h3 {
        font-size: 1.3rem;
    }

    .text-container{
        width: 90%;
    }
    
    .text-body {
        font-size: 1rem;
        line-height: 1.2;
        padding: 10px;
    }

    .text-announcement {
        font-size: 1.2rem;
    }

    /*Image Grid*/

    .images-grid {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 4rem auto;
    }

    .grid-wrapper {
        align-self: center;
        display: grid;
        gap: 0.7em;
        width: auto;
        height: 300px;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        margin: 0 auto;
    }

    .image-container {
        width: 100%;
        height: 100%;
    }

    .image-container:last-child {
        margin-bottom: 20px;
    }

    .image-item {
        width: 350px;
        height: 200px;
    }

    .image-text {
        font-size: 1.2rem;
    }

}


@media all and (max-width: 500px) {

    /*Text Area*/
    .text-section {
        height: 450px;
    }

    .text-title, .text-container > h3 {
        font-size: 1.2rem;
    }

    .text-container{
        width: 80%;
    }
    
    .text-body {
        font-size: 0.9rem;
        line-height: 1.2;
        padding: 10px;
    }

    .text-announcement {
        font-size: 1rem;
    }

    /*Mobile Input*/

    .mobile-input {
        width: 200px;
    }

    .mobile-input::placeholder {
        font-size: 0.65rem;
    }

    /*Image Grid*/
    .image-item {
        width: 300px;
        height: 180px;
    }

}